 <div class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <img height="700" width="630" class="card-img-top mb-5 mb-md-0" [src]="item.image" alt="...">
        </div>
        <div class="col-md-6">
          <h1 class="display-5 fw-bolder">{{item.name}}</h1>
          <div class="fs-5 mb-5">
            <span>${{item.price}}</span>
          </div>
          <p class="lead">{{item.description}}</p>
          <div class="d-flex">
            <input [(ngModel)]="howMany" class="form-control text-center me-3" type="number" value="1" style="max-width: 3rem">
            <app-add-to-cart [howMany]="howMany" [item]="item" class="btn flex-shrink-0" type="button">
              <i class="bi-cart-fill me-1"></i>
            </app-add-to-cart>
          </div>
          <div class="mt-5">
            <p class="mt-1 font-weight-bold">City of Origin: {{item.city}}</p>
            <p class="mt-1">Phone of Seller: {{item.phone_of_seller}}</p>
            <p class="mt-1">Date of Arrival: {{item.dateOfPublish | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-related-items [itemId]="item.id!" [category]="category"></app-related-items>