<div class="card my-5">
    <form name="addNewForm" #addNewForm="ngForm" class="row p-0">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Add New Item</b></h4></div>
                </div>
            </div>        
            <div class="mb-5 pb-4">
                <div class="error" *ngIf="name.invalid && name.dirty">Name is required</div>
                <input name="name" (ngModelChange)="item.name = $event" ngModel required #name="ngModel" type="text" placeholder="Name">
                    
                <div class="error" *ngIf="category.invalid && category.dirty">Category is required</div>
                <select name="category" (ngModelChange)="item.category = $event" ngModel required #category="ngModel" >
                    <option value="" selected>Category</option>
                    <option *ngFor="let c of categoryList" [ngValue]="c">{{c.name}}</option>
                </select>
                <div class="error" *ngIf="description.invalid && description.dirty">Description is required</div>
                <input name="description" (ngModelChange)="item.description = $event" ngModel required #description="ngModel" type="text" placeholder="Description">
                <div class="error" *ngIf="price.invalid && price.dirty">Price is required and must be above 1</div>
                <input name="price" (ngModelChange)="item.price = $event" ngModel required min=1 #price="ngModel" type="number" placeholder="Price (USD)">
                <div class="error" *ngIf="qnt.invalid && qnt.dirty">Quantity is required</div>
                <input name="qnt" (ngModelChange)="item.qnt = $event" ngModel required #qnt="ngModel" type="number" placeholder="Quantity">
            </div>   
            <div routerLink="" class="my-4 position-absolute bottom-0 back-to-shop"><a>&leftarrow;</a><span class=" text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Info</b></h5></div>
            <hr>
            <div class="row">
                <div>
                <div class="error" *ngIf="image.invalid && image.dirty">Image is required</div>
                    <input name="image" (ngModelChange)="item.image = $event" ngModel required #image="ngModel" type="text" placeholder="Image Url"/>
                </div>
                
            </div>
          
            <div class="row pb-5 mb-5" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div >
                <div class="error" *ngIf="city.invalid && city.dirty">City is required</div>
                    <input name="city" (ngModelChange)="item.city = $event" ngModel required #city="ngModel" placeholder="City of origin" type="text"/>
                </div>
                <div class="text-right">
                <div class="error" *ngIf="phone_of_seller.invalid && phone_of_seller.dirty">phone of seller is required</div>
                    <input  name="phone_of_seller" (ngModelChange)="item.phone_of_seller = $event" ngModel required #phone_of_seller="ngModel" placeholder="Phone of seller" type="text"/>
                </div>
            </div>
            <button [disabled]="addNewForm.form.invalid" (click)="Submit()" class="btn">Add</button>
        </div>
    </form>
</div>
