<div class="card my-5">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">{{totalItem}} items</div>
                </div>
            </div>        
            <div class="mb-5 pb-4">
                <ng-container  *ngFor="let prod of products">
                    <app-cart-item [item]="prod"></app-cart-item>
                  </ng-container>
            </div>   
            <div routerLink="" class="my-4 position-absolute bottom-0 back-to-shop"><a>&leftarrow;</a><span class=" text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS {{totalItem}}</div>
                <div class="col text-right">{{itemsPrice | exchange :rate  | currency:coin:"symbol"}}</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery Free</option></select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">{{totalPrice | exchange :rate  | currency:coin:"symbol"}}</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>
    
</div>
